*.o
*.a
*.gcda
*.gcno
*.gcov
.*.swp
.deps
Makefile
Makefile.in
config.*
aclocal.m4
autom4te.cache
default.apspec
configure
cyphesis.spec
cyphesis.iss
depcomp
install-sh
missing
stamp-h1
server/buildid.cpp
cyphesis
cyclient
cyaddrules
cycmd
cyconfig
cyconvertrules
cydb
cydumprules
cyloadrules
cypasswd
cypython
man/manpage.*
tests/*test
tests/*test.log
tests/*integration
tests/*integration.log
tests/test-suite.log
doc
python_doc
cc.vim
log
tags
*.exe
