*.o
*.a
*.gcda
*.gcno
*.gcov
.*.swp
default.apspec
cyphesis.spec
cyphesis.iss
src/server/buildid.cpp
src/server/cyphesis
src/client/cyclient
src/tools/cyaddrules
src/tools/cycmd
src/tools/cyconfig
src/tools/cyconvertrules
src/tools/cydb
src/tools/cydumprules
src/tools/cyloadrules
src/tools/cypasswd
src/tools/cypython
docs/man/manpage.*
tests/*test
tests/*test.log
tests/*integration
tests/*integration.log
tests/test-suite.log
doc
python_doc
cc.vim
log
tags
*.exe
# Ignore temporary files
*~
# Ignore desktop files
.directory
# ignore Eclipse project files
.project
.cproject
.settings
.cdtconfig*
.pydevproject
#ignore build directories
builds
x86
x86_64
.idea
*.pyc
cmake-build-*
